<form [formGroup]="form">
  <input type="text" class="form-control" formControlName="search" />
</form>
<div>
   @if (searchResults().length > 0) {
    <div class="list-group mb-3">
      @for (cv of searchResults(); track cv.id) {
        <button
          type="button"
          class="list-group-item list-group-item-action"
          (click)="onSelectCv(cv)">
          <div class="d-flex align-items-center">
            <img [ngStyle]="{
              width: size + 'px',
              heigth: size + 'px'
              }" class="rounded-circle" 
              src="assets/images/{{cv.path | defaultImage}}" 
              alt="{{cv.name}}">
            <div>
              <h6 class="mb-0">{{ cv.firstname }} {{ cv.name }}</h6>
              <small class="text-muted">{{ cv.job }} - {{ cv.age }} ans</small>
            </div>
          </div>
        </button>
      }
    </div>
  }
</div>
